#messages_wrapper {
    border-style: solid;
    border-color: darkgray;
    border-width: medium;
}

#messages {
    width: 50%;
    float: left;
}

#contacts {
    float: left;
    height:400px;
    margin-top:40px !important;
}
input[type="button"]{
    cursor:pointer !important;
    z-index:9999;
}
contacts_wrapper{
    position:relative;
}
